.wrap {
    width: 530px;
    padding: 30px;
    border-radius: 20px;
    background: var(--user-trove-show-bg-color);
    border: 1px solid var(--user-trove-show-border-color);
}

.titleDesc {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    line-height: 133%;
    color: var(--user-trove-show-title-desc-color);
}

.info {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: var(--user-trove-show-info-bg-color);
}

.item {
    width: 50%;

    &:nth-child(n+3) {
        margin-top: 30px;
    }

    & > p:first-child {
        font-size: 14px;
        line-height: 133%;
        color: var(--user-trove-show-info-item-title-color);
    }

    & > div:first-child {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 133%;
        color: var(--user-trove-show-info-item-title-color);

        p {
            margin: 0 5px;
        }
    }

    & > p:last-child {
        margin-top: 10px;
        font-size: 20px;
        line-height: 30px;
        color: var(--user-trove-show-info-item-value-color);

        span {
            margin-left: 5px;
            display: inline-block;
            font-size: 14px;
            color: var(--user-trove-show-info-item-value-extra-color);
        }
    }

    & > p span.cr {
        font-size: 20px;
        color: var(--coll-ratio-value-base-color);

        &.emergency {
            color: var(--coll-ratio-value-emergency-color);
        }
        &.warning {
            color: var(--coll-ratio-value-warning-color);
        }
        &.health {
            color: var(--coll-ratio-value-health-color);
        }
    }
}

.tipsWrap {
    display: flex;
    align-items: center;
    cursor: help;
}

.tipsModal {
    max-width: unset !important;
    width: unset !important;
    padding: 16px 20px;
}

.formula,
.formulaText {
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 133%;
    color: var(--slash-symbol-color);

    span:nth-child(1) {
        color: var(--total-collateral-value-color);
    }
    span:nth-child(2) {
        color: var(--total-debt-value-color);
    }
    span:nth-child(3) {
        color: var(--collateral-ratio-value-color);
    }
}

.formulaText {
    margin-top: 10px;
}

.collateralItem {
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.collateralItemHead {
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 50%;
    }
}

.assetName {
    font-size: 14px;
    line-height: 133%;
    color: var(--user-trove-show-info-coll-item-asset-name-color);
}

.collateralItemBody {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    color: var(--user-trove-show-info-coll-item-asset-value-color);
}

.tokenName {
    margin-left: 5px;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    color: var(--user-trove-show-info-coll-item-asset-value-extra-color);
}

.btnArea {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 294px;
    height: 52px;

    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 16px;
    border-radius: 10px;
    color: var(--user-trove-show-btn-text-color);
    background: linear-gradient(26deg, var(--linear-gradient-btn-from-color) 11.36%, var(--linear-gradient-btn-to-color) 82.43%);

    &.repay {
        width: 160px;
        margin-right: 20px;
        flex: 0 0 auto;
        color: var(--cancel-btn-text-color);
        border: 1px solid var(--cancel-btn-border-color);
        background: var(--cancel-btn-bg-color);
    }
}

@media screen and (min-width: 744px) and (max-width: 1365px) {
    .wrap {
        width: 100%;
    }

    .btn {
        width: 454px;
    }

    .tipsModal {
        width: 700px !important;
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        width: 100%;
        padding: 0;
        border-radius: 0;
        border: none;
        background: transparent;
    }

    .supportIcon {
        display: none;
    }

    .info {
        margin-top: 20px;
        padding: 30px 20px 20px;
        border-radius: 16px;
    }

    .btn {
        height: 50px;
        width: 120px;
        font-size: 14px;

        &.repay {
            width: 120px;
            margin-right: 10px;
        }
    }

    .tipsModal {
        width: 320px !important;
    }
}
