.wrap {
    width: 530px;
    padding: 30px;
    border-radius: 32px;
    background-color: #fff;
}

.overviewTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #333;
}

.claimBtn {
    width: 123px;
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    border: 1px solid #999;
    border-radius: 63px;

    color: #999;
    font-size: 16px;

    p {
        margin-left: 10px;
        line-height: 20px;
    }
}

.depositNumInputWrap {
    width: 100%;

    margin-top: 30px;

    border: 1px solid #D8E3F2;
    border-radius: 16px;
}

.depositNumInput {
    width: 100%;
    height: 52px;

    border-radius: 16px;
    border: none !important;
    box-shadow: none !important;

    & > div {
        border: none !important;
        box-shadow: none !important;
    }

    &:focus,
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }

    input {
        height: 52px !important;

        font-size: 23px !important;
        font-style: normal;
        font-weight: 450;
        font-family: CircularStd;
    }
}

.help {
    width: 100%;
    padding: 0 16px;
    margin-top: 10px;

    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.max {
    cursor: pointer;
    color: var(--main-color);
}

.depositInfo {
    width: 100%;

    padding: 20px;
    margin-top: 20px;

    display: flex;
    align-items: center;

    background: #F8FAFE;
    border-radius: 16px;
}

.depositAmount,
.poolShare {
    width: 50%;

    display: flex;
    flex-direction: column;

    &>p:first-child {
        color: #999;
        font-size: 14px;
        line-height: 133%;
    }

    &>p:last-child {
        margin-top: 5px;
        color: #333;
        font-size: 14px;
        line-height: 133%;
        font-weight: 500;

        span {
            margin-left: 5px;

            color: #999;
            font-size: 14px;
            display: inline-block;
        }
    }
}

.poolShare > div {
    display: flex;
    align-items: center;

    color: #999;
    font-size: 14px;
    line-height: 133%;

    &>div {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }
}

.popOverWrap {
    width: 340px;
    height: 51px;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 16px;

    color: #666;
    font-size: 14px;
    font-weight: 450;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btnArea {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 300px;
    height: 52px;

    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 63px;
    background-color: var(--main-color);

    &.cancel {
        width: 160px;
        margin-right: 20px;
        color: #999;
        border: 1px solid #999;
        background-color: #fff;
    }

    &.disable {
        color: #939393;
        cursor: not-allowed;
        background-color: #c5c5c5;
    }

    &.loading {
        opacity: .65;

        & > span {
            margin-right: 5px;
        }
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
    }

    .btn {
        width: 454px;
        flex: 1 0 auto;

        &.cancel {
            flex: 0 0 auto;
        }
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        width: 100%;
        padding: 0;
    }

    .title {
        font-size: 25px;
    }

    .depositNumInputWrap {
        margin-top: 20px;
    }

    .depositAmount,
    .poolShare {
        &>p:first-child {
            font-size: 12px;
        }

        &>p:last-child {
            font-size: 14px;
            line-height: 133%;
        }
    }

    .btn {
        width: 220px;
        font-size: 14px;

        &.cancel {
            width: 120px;
            margin-right: 10px;
        }
    }
}
