.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--support-asset-title-color);
    text-align: left;
}

.supportIcon {
    width: 42px;
    height: 42px;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--support-asset-icon-wrap-color);
    border-radius: 50%;
}

.popupWrap {
    :global {
        .ant-popover-inner {
            border-radius: 24px !important;
        }
    }
}

@media screen and (max-width: 743px) {
    .supportIcon {
        display: none;
    }

    .title {
        font-size: 25px;
    }
}
