.wrap {
    width: 100%;

    padding: 20px;
    margin-top: 30px;

    background: var(--fee-info-bg-color);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
}

div.tipsModal {
    max-width: 280px;
    max-height: 146px;

    padding: 16px 20px;
}

.item {
    width: 50%;

    display: flex;
    flex-direction: column;

    &:nth-child(n+3) {
        margin-top: 20px;
    }

    &>p:first-child {
        font-size: 12px;
        line-height: 133%;
        color: var(--fee-info-item-first-p-text-color);
    }

    &>div:first-child {
        display: flex;
        align-items: center;

        font-size: 12px;
        line-height: 133%;
        color: var(--fee-info-item-first-div-text-color);

        & > div {
            margin-left: 5px;
            display: flex;
            align-items: center;
        }
    }

    & > p:last-child {
        margin-top: 5px;

        font-size: 14px;
        line-height: 133%;

        color: var(--fee-info-item-last-p-text-color);

        span {
            color: var(--fee-info-item-last-p-contain-span-text-color);
            font-size: 12px;
        }
    }
}
