.wrap {
    width: 414px;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid var(--support-asset-popup-wrap-border-color);
    background: var(--support-asset-popup-wrap-bg-color);
    box-shadow: 0px 10px 24px var(--support-asset-popup-wrap-box-shadow-color);
}

.title {
    color: var(--support-asset-popup-title-color);
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.columnHead {
    width: 100%;
    padding: 0 16px;
    margin-top: 23px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assetNameTitle,
.tokenInfoTitle,
.depositInfoTitle {
    font-size: 14px;
    line-height: 133%;
    color: var(--support-asset-popup-column-title-color);
}

.assetNameTitle {
    width: 140px;
}

.tokenInfoTitle {
    width: 60px;
}

.depositInfoTitle {
    width: 105px;
}

.assetList {
    overflow: hidden;
    border-radius: 10px;
}

.asset {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--support-asset-popup-asset-item-bg-color);

    color: var(--support-asset-popup-asset-item-text-color);
}

.assetName {
    width: 150px;
    display: flex;
    align-items: center;
    font-weight: 450;
    font-size: 14px;
    line-height: 133%;

    img {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }
}

.tokenInfo,
.depositInfo {
    display: flex;
    flex-direction: column;
}

.tokenInfo {
    width: 60px;
}

.depositInfo {
    width: 94px;
}

.tokenContent,
.depositContent {
    margin-top: 5px;
    font-size: 14px;
    line-height: 133%;
    font-weight: 450;
}
