.wrap {
    width: 100%;
}

.title {
    font-size: 32px;
    line-height: 40px;
    color: #333;
    font-weight: 700;
}

.titleDesc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 133%;
    font-weight: 450;
    color: #999;
}

@media screen and (max-width: 743px) {
    .title {
        font-size: 25px;
    }
}
