.wrap {
    width: 530px;
    padding: 30px;
    border-radius: 32px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.overviewTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 60%;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #333;
}

.claimBtn {
    width: 123px;
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    border: 1px solid #999;
    border-radius: 63px;

    color: #999;
    font-size: 16px;

    p {
        margin-left: 10px;
        line-height: 20px;
    }
}

.depositInfo {
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
}

.depositAmount,
.poolShare {
    width: 50%;

    display: flex;
    flex-direction: column;

    &>p:first-child {
        color: #999;
        font-size: 14px;
        line-height: 133%;
    }

    &>p:last-child {
        color: #333;
        font-size: 20px;
        line-height: 133%;
        font-weight: 500;

        span {
            margin-left: 5px;

            color: #999;
            font-size: 14px;
            display: inline-block;
        }
    }
}

.img {
    width: 470px;
    height: 278px;
    margin: 21px auto 0;
}

.tvlInfo {
    width: 100%;
    height: 78px;
    padding: 0 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #F8FAFE;
    border-radius: 16px;
    font-size: 14px;
    color: #999;
}

.tvlAmount {
    font-size: 24px;
    color: #333;
    font-weight: 500;

    span {
        margin-left: 5px;
        display: inline-block;
        font-size: 14px;
        color: #999;
    }
}

.btnArea {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 300px;
    height: 52px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 63px;
    background-color: var(--main-color);

    &.withdrawBtn {
        width: 150px;
        margin-right: 20px;
        color: #999;
        border: 1px solid #999;
        background-color: #fff;
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
    }

    .btn {
        width: 454px;
        flex: 1 0 auto;

        &.withdrawBtn {
            flex: 0 0 auto;
        }
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        width: 100%;
        padding: 0;
    }

    .title {
        font-size: 25px;
    }

    .depositAmount,
    .poolShare {
        &>p:first-child {
            font-size: 12px;
        }

        &>p:last-child {
            font-size: 16px;
            line-height: 133%;
        }
    }

    .img {
        width: 350px;
        height: 222px;
    }

    .tvlAmount {
        font-size: 20px;
    }

    .btn {
        width: 220px;
        font-size: 14px;

        &.withdrawBtn {
            width: 120px;
            margin-right: 10px;
        }
    }
}
