.wrap {
    width: 100vw;
}

.content {
    width: 100%;
    // height: calc(100vh - var(--banner-height) - 30px);
    width: 1200px;
    margin: 30px auto 0;
    // overflow-y: hidden;
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .content {
        width: 684px;
    }
}

@media screen and (max-width: 743px) {
    .content {
        width: calc(100vw - 40px);
        margin: 30px 20px 0;
        padding-bottom: 30px;
    }
}
