.wrap {
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid var(--banner-bottom-border-color);
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftWrap {
    display: flex;
    align-items: center;

    img {
        width: 56px;
        height: 56px;
    }
}

.tabs {
    display: flex;
    align-items: center;
}

.tab {
    margin-right: 40px;
    color: var(--banner-menu-text-color);
    font-size: 20px;
    cursor: pointer;
}

.tab:last-child {
    margin-right: 0;
}

.active {
    color: var(--banner-menu-text-active-color);
}

.walletAddr {
    width: 194px;
    height: 50px;

    cursor: pointer;
    border: 1px solid var(--banner-wallet-border-color);
    border-radius: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--banner-wallet-text-color);
    font-size: 20px;
    flex: 0 0 auto;
}

.mobileIcons {
    display: none;
    align-items: center;
}

.popMenuRoot {
    width: 194px;
    border: 1px solid #393B3F;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;

    :global {
        ul.ant-dropdown-menu {
            width: 100%;
            padding: 0;
            border-radius: 16px;
            box-shadow: none;
            background: var(--banner-pop-menu-bg-color);
        }
        li.ant-dropdown-menu-item {
            height: 50px;

            &:hover,
            &:active,
            &:focus {
                background: rgba(255, 255, 255, 0.1) !important;
            }
        }

        span.ant-dropdown-menu-title-content > a {
            color: rgba(255, 255, 255, .5) !important;
        }
    }
}

@media screen and (max-width: 1199px) {
    .leftWrap img {
        width: 28px;
        height: 28px;
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        height: 50px;
    }

    .container {
        width: 684px;
    }

    .tab {
        font-size: 13px;
    }

    .walletAddr {
        width: 126px;
        height: 32px;
        font-size: 12px;
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        height: 50px;
    }

    .container {
        padding: 0 10px;
    }

    .tabs,
    .walletAddr {
        display: none;
    }

    .mobileIcons {
        display: flex;

        div {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
