.wrap {
    width: 100vw;
    height: var(--banner-height);
    border-bottom: 1px solid var(--banner-bottom-border-color);
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftWrap,
.rightWrap {
    display: flex;
    align-items: center;
}

.brandWrap {
    display: flex;
    align-items: center;

    img {
        width: 56px;
        height: 56px;
    }
}

.padTabsWrap {
    margin: 0 auto;
    display: none;
    align-items: center;
}

.tabs {
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.tab {
    margin-right: 40px;
    color: var(--banner-menu-text-color);
    font-size: 20px;
    cursor: pointer;
}

.tab:last-child {
    margin-right: 0;
}

.active {
    color: var(--banner-menu-text-active-color);
}

.accountInfo {
    display: flex;
    align-items: center;
}

.accountInfoItem {
    margin-right: 40px;
    display: flex;
    flex-direction: column;

    span {
        color: var(--50, rgba(255, 255, 255, 0.50));
        font-family: CircularStd;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 133%;
    }

    p {
        color: var(--unnamed, #FFF);
        font-family: CircularStd;
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
    }
}

.walletAddr {
    width: 194px;
    height: 50px;

    cursor: pointer;
    border: 1px solid var(--banner-wallet-border-color);
    border-radius: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--banner-wallet-text-color);
    font-size: 20px;
    flex: 0 0 auto;
}

.mobileIcons {
    display: none;
    align-items: center;
}

.popMenuRoot {
    width: 194px;
    border: 1px solid #393B3F;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;

    :global {
        ul.ant-dropdown-menu {
            width: 100%;
            padding: 0;
            border-radius: 16px;
            box-shadow: none;
            background: var(--banner-pop-menu-bg-color);
        }
        li.ant-dropdown-menu-item {
            height: 50px;
            padding: 16px !important;

            &:hover,
            &:active,
            &:focus {
                background: rgba(255, 255, 255, 0.1) !important;

                .popMenuItem {
                    color: var(--basic-text-color) !important;
                }
            }
        }

        span.ant-dropdown-menu-title-content > a {
            color: rgba(255, 255, 255, .5) !important;
        }
    }
}

.item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);

    img {
        margin-right: 10px;
    }
}

.menuIcon {
    margin-right: 13px;
}

.avatar {
    width: 20px;
    height: 20px;
    margin: 15px;
    margin-right: 0;

    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1199px) {
    .leftWrap img {
        width: 28px;
        height: 28px;
    }

    .accountInfo,
    .walletAddr {
        display: none;
    }

    .mobileIcons {
        display: flex;

        div {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .padTabsWrap {
        display: flex;
    }

    .tabs {
        display: none;
    }

    .tab {
        font-size: 13px;
    }

    .walletAddr {
        width: 126px;
        height: 32px;
        font-size: 12px;
    }

    .menuIcon {
        display: none !important;
    }
}

@media screen and (max-width: 743px) {
    .container {
        padding: 0 15px;
    }

    .padTabsWrap {
        display: none;
    }

    .tabs {
        display: none;
    }

    .menuIcon {
        display: flex;
        margin-right: 0;
    }
}
