.wrap {
    width: 530px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 87px;
    border-radius: 20px;
    background-color: var(--wrap-bg-color);
    border: 1px solid var(--wrap-border-color);
}

.title {
    width: 100%;
    color: var(--count-down-title-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.countdown {
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.valueList,
.unitList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.value {
    width: 98px;
    padding: 10px 20px;
    color: var(--count-down-value-color);
    text-shadow: 0px 0px 16.8px var(--count-down-value-shadow-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colon {
    width: 13px;
    margin: 0 10px;
    padding: 10px 0;
    color: var(--count-down-value-color);
    text-shadow: 0px 0px 16.8px var(--count-down-value-shadow-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unitList {
    padding-bottom: 10px;
}

.unitList .uint {
    width: 98px;
    color: var(--count-down-unit-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

@media screen and (max-width: 1365px) {
    .wrap {
        width: 350px;
        padding: 15px;
    }

    .title {
        font-size: 20px;
    }

    .countdown {
        margin-top: 15px;
    }

    .value {
        width: 73px;
    }
}
