.wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
        padding: 0 0 50px;
        flex-direction: column;
    }
}
