.wrap {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.stickyContainer {
    height: 700px;
    overflow-y: auto;
    -webkit-overflow-scrolling: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.stickyContainer::-webkit-scrollbar {
    width: 0px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: center;
}

.title {
    font-size: 32px;
    color: var(--liquidate-title-color);
    font-weight: 700;
}

.systemMode {
    width: 182px;
    height: 42px;
    margin-left: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 61px;
    font-size: 16px;
    background: var(--liquidate-system-mode-bg-color);

    p {
        display: inline;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-color: transparent;
        -webkit-box-decoration-break: clone;
        background-image: linear-gradient(26deg, var(--linear-gradient-btn-from-color) 11.36%, var(--linear-gradient-btn-to-color) 82.43%);
    }

    div {
        margin-left: 6px;
        display: flex;
        align-items: center;
    }

    &.recoveryMode {
        p {
            color: var(--liquidate-recovery-mode-text-color);
            background-image: none;
            -webkit-text-fill-color: var(--liquidate-recovery-mode-text-color); 
            -moz-text-fill-color: var(--liquidate-recovery-mode-text-color);
        }
    }
}

.modelTips,
.selectTroveTips {
    cursor: help;
}

div.tipsModal {
    max-height: 500px;
}

.topRight {
    display: flex;
    align-items: center;
}

.riskTrovesTitle {
    font-size: 15px;
    font-weight: 500;
    line-height: 133%;
    color: var(--liquidate-risk-trove-title-color);
    display: none;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.helpText {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--liquidate-help-text-color);

    div {
        display: flex;
        align-items: center;
        cursor: help;
    }

    svg {
        margin-right: 9px;
    }
}

.selectTroves {
    width: 224px;
    height: 42px;
    padding: 0 5px;
    margin-left: 16px;

    border: 1px solid var(--liquidate-select-trove-border-color);
    border-radius: 58px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-left: 15px;
        color: #333;
        font-size: 16px;
    }

    span {
        font-size: 14px;
        color: #999;
    }
}

.liquidateNumInput {
    width: 100%;
    height: 100% !important;

    border-radius: 58px;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;

    &:focus,
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }

    :global {
        div.ant-input-number-wrapper {
            border: none;
            box-shadow: none;
        }

        input.ant-input-number-input {
            height: 100%;
            font-size: 23px;
            font-style: normal;
            font-weight: 450;
            font-family: CircularStd;
            color: var(--liquidate-select-trove-input-color);
        }
    }
}

.confirmBtn {
    height: 32px;
    cursor: pointer;

    &.disableBtn {
        cursor: not-allowed;
        filter: brightness(0.5);
    }
}

.emptyWrap {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.empty {
    :global {
        .ant-empty-description {
            color: var(--liquidate-empty-text-color);
        }
    }
}

.troveList {
    width: 100%;
    margin-top: 30px;
}

.tableItemOuter {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tableHead {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--liquidate-table-head-text-color);
    background: var(--liquidate-table-head-bg-color);

    border: 1px solid var(--liquidate-table-head-border-color);
    border-radius: 16px;

    &[data-sticky=true] {
        z-index: var(--sticky-z-index);
        box-shadow: 0px 10px 16px var(--liquidate-table-head-sticky-box-shadow-color);
    }
}

.tableHeadOfOwner,
.tableHeadDebt,
.tableHeadCollRatio,
.tableHeadCollateral {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    font-size: 20px;
}

.tableHeadCollateral {
    width: 600px;
}

.tableHeadOfOwner,
.tableHeadDebt,
.tableHeadCollRatio {
    width: 200px;
}

.collateralIcons {
    margin-left: 16px;
    display: flex;
    align-items: center;

    img {
        width: 24px;
        height: 24px;
        margin-left: -5px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.tableHeadOfOwner {
    padding-left: 24px;
}

.tableHeadDebt span {
    color: var(--liquidate-table-head-extra-text-color);
    font-size: 14px;
}

.tableBody {
    width: 100%;
}

.tableItem {
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 24px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    background-color: var(--liquidate-table-item-bg-color);
    user-select: none;
    cursor: pointer;
    justify-content: space-between;

    &:hover {
        & .addonAfter {
            display: inline-flex;
        }
    }
}

.tableItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableItemCollateralAmountList {
    width: 600px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.tableItemOwner,
.tableItemDebt,
.tableItemRatio {
    width: 200px;
    flex: 0 0 auto;
}

.tableItemOwner {
    padding-left: 24px;
    display: flex;
    align-items: center;

    .owner {
        color: var(--liquidate-table-item-owner-text-color);
        font-size: 20px;
        margin-right: 10px;
    }

    .ownerOnMobile {
        display: none;
    }
}

.copyIcon {
    display: flex;
    align-items: center;
    cursor: copy;
}

.collateralCell {
    margin-right: 64px;
    display: flex;
    flex-direction: column;

    &:last-child {
        margin-right: 0;
    }
}

.collateralAmount {
    font-size: 20px;
    color: var(--liquidate-table-item-collateral-amount-text-color);
}

.collateralName {
    margin-top: 5px;
    font-size: 12px;
    color: var(--liquidate-table-item-collateral-name-text-color);
}

.tableItemDebt {
    color: var(--liquidate-table-item-debt-text-color);
    font-size: 20px;
}

.tableItemRatio {
    display: flex;
    align-items: center;
}

.addonAfter {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.mobileDeleteIcon {
    display: none;
}

.deleteIconWrap {
    display: flex;
    align-items: center;

    &.showDeleteIcon {
        display: inline-flex;
    }
}

.tableItemCollRatioText {
    font-size: 20px;
    color: var(--coll-ratio-value-base-color);

    &.emergency {
        color: var(--coll-ratio-value-emergency-color)
    }

    &.waring {
        color: var(--coll-ratio-value-warning-color);
    }

    &.health {
        color: var(--coll-ratio-value-health-color);
    }
}

@media only screen and (min-width: 744px) and (max-width: 1199px) {
    .container {
        width: 684px;
    }

    .top {
        flex-wrap: wrap;
    }

    .topLeft,
    .topRight {
        width: 100%;
        justify-content: space-between;
    }

    .topRight {
        margin-top: 30px;
        padding: 0 20px;
    }

    .riskTrovesTitle {
        display: block;
    }

    .selectTroves {
        width: 124px;
        height: 32px;
    }

    .liquidateNumInput {
        :global {
            div.ant-input-number-wrapper {
                border: none;
                box-shadow: none;
            }

            input.ant-input-number-input {
                height: 32px;
                font-size: 14px;
            }
        }
    }

    .confirmBtn {
        width: 24px;
        height: 24px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .tableHead {
        justify-content: flex-start;
    }

    .tableHeadOfOwner {
        width: 107px;
        font-size: 12px;
        order: 1;
    }

    .tableHeadCollRatio {
        width: 55px;
        margin-left: 40px;
        font-size: 12px;
        order: 2;
    }

    .tableHeadDebt {
        width: 75px;
        margin-left: 40px;
        font-size: 12px;
        order: 3;

        span {
            font-size: 12px;
        }
    }

    .tableHeadCollateral {
        width: 237px;
        margin-left: 34px;
        font-size: 12px;
        order: 4;
    }

    .collateralIcons {
        margin-left: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .tableItem {
        justify-content: flex-start;
    }

    .tableItemOwner {
        width: 107px;
        order: 1;

        .owner {
            font-size: 12px;
        }
    }

    .tableItemRatio {
        width: 55px;
        margin-left: 40px;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        .tableItemCollRatioText {
            font-size: 12px;
        }
    }

    .tableItemDebt {
        width: 75px;
        margin-left: 40px;
        order: 3;
        font-size: 12px;
    }

    .tableItemCollateralAmountList {
        width: 237px;
        margin-left: 40px;
        order: 4;
    }

    .collateralCell {
        margin-right: 30px;

        .collateralAmount {
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 743px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 25px;
        line-height: 32px;
    }

    .systemMode {
        width: 144px;
        height: 32px;
        font-size: 12px;
    }

    .top {
        flex-wrap: wrap;
    }

    .topLeft,
    .topRight {
        width: 100%;
        justify-content: space-between;
    }

    .topRight {
        width: 100vw;
        height: 52px;
        margin-top: 20px;
        margin-left: calc(50% - 50vw);
        padding: 0 20px;
        flex: 0 0 auto;
        background: var(--liquidate-top-right-on-mobile-bg-color);
    }

    .riskTrovesTitle {
        display: block;
    }

    .helpText {
        font-size: 12px;
    }

    .selectTroves {
        width: 124px;
        height: 32px;
    }

    .liquidateNumInput {
        input {    
            height: 32px !important;
            font-size: 14px !important;
        }
    }

    .confirmBtn {
        width: 24px;
        height: 24px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .stickyContainer {
        height: 450px;
    }

    .troveList {
        margin-top: 15px;
    }

    .tableHead {
        height: 40px;
        padding-left: 22px;
        border-radius: 0;
        border-color: transparent;
        background: var(--root-bg-color);
    }

    .tableHeadOfOwner,
    .tableHeadCollRatio,
    .tableHeadDebt,
    .tableHeadCollateral {
        font-size: 12px;
        line-height: 16px;
    }

    .tableHeadOfOwner {
        width: 40px;
        padding-left: 0;
        order: 1;
    }

    .tableHeadCollRatio {
        width: 55px;
        margin-left: 30px;
        order: 2;
    }

    .tableHeadDebt {
        width: 70px;
        margin-left: 30px;
        order: 3;

        span {
            font-size: 12px;
        }
    }

    .tableHeadCollateral {
        margin-left: 30px;
        flex: 1 0 auto;
        order: 4;
    }

    .collateralIcons {
        margin-left: 5px;

        img {
            width: 14px;
            height: 14px;
        }
    }

    .tableItem {
        height: 30px;
        padding-left: 22px;
        border-radius: 5px;
        background: transparent;
    }

    .tableItemContainer {
        height: 60px;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tableItemContainer::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .tableItemOwner {
        width: 40px;
        padding-left: 0;
        order: 1;

        .owner {
            display: none;
        }

        .ownerOnMobile {
            display: block;
            font-size: 12px;
        }

        .copyIcon {
            display: none;
        }
    }

    .tableItemRatio {
        width: 55px;
        margin-left: 30px;
        order: 2;
        
        .tableItemCollRatioText {
            font-size: 12px;
        }
    }

    .tableItemDebt {
        width: 70px;
        margin-left: 30px;
        font-size: 12px;
        order: 3;
    }

    .tableItemCollateralAmountList {
        width: auto;
        margin-left: 30px;
        flex: 1 0 auto;
        order: 4;
    }

    .collateralCell {
        margin-right: 16px;
        flex-direction: row;
    }

    .collateralAmount,
    .collateralName {
        font-size: 12px;
        line-height: 14px;
    }

    .collateralName {
        margin-top: 0;
        margin-left: 5px;
    }

    .addonAfter {
        display: none !important;
    }

    .mobileDeleteIcon {
        &.showMobileDeleteIcon {
            position: absolute;
            left: 0;
            display: inline-flex;
        }

        svg {
            width: 12px;
            height: 14px;
        }
    }
}

@media screen and (max-height: 667px) {
    .stickyContainer {
        height: 350px;
    }
}
