.maskRoot {
    background: transparent;

    :global {
        div.ant-modal-mask {
            background: var(--mobile-support-asset-popup-mask-color);
            backdrop-filter: blur(10px);
        }

        div.ant-modal-content {
            padding: 0;
            box-shadow: none;
            background-color: transparent;
        }

        div.ant-modal-body {
            padding: 20px;
            border-radius: 20px;
            background: var(--mobile-support-asset-popup-bg-color);
        }
    }
}

.title {
    margin-bottom: 15px;
    color: var(--mobile-support-asset-popup-title-color);
    font-size: 16px;
    line-height: 20px;
}

.assetList {
    border-radius: 10px;
    background: var(--mobile-support-asset-popup-asset-list-bg-color);
}

.asset {
    width: 100%;
    padding: 16px 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--mobile-support-asset-popup-asset-bg-color);
}

.assetName {
    width: 200px;
    display: flex;
    align-items: center;
    font-weight: 450;
    font-size: 14px;
    line-height: 133%;
    color: var(--mobile-support-asset-popup-asset-name-text-color);

    img {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }
}

.tokenInfo,
.depositInfo {
    display: flex;
    flex-direction: column;
}

.tokenInfo {
    width: 100px;
}

.depositInfo {
    width: 180px;
}

.tokenTitle,
.depositTitle {
    color: var(--mobile-support-asset-popup-asset-index-name-color);
    font-size: 12px;
    line-height: 133%;
    font-weight: 450;
}

.tokenContent,
.depositContent {
    margin-top: 5px;
    color: var(--mobile-support-asset-popup-asset-index-value-color);
    font-size: 12px;
    line-height: 133%;
    font-weight: 450;
}
