.wrap {
    width: 530px;
    padding: 30px;
    border-radius: 20px;
    background: var(--adjust-trove-bg-color);
    border: 1px solid var(--adjust-trove-border-color);
}

.titleDesc {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    line-height: 133%;
    color: var(--adjust-trove-title-desc-color);
}

.warning {
    width: 100%;

    padding: 16px;
    margin-top: 30px;

    background: var(--adjust-trove-no-asset-warning-bg-color);
    border: 1px solid var(--adjust-trove-no-asset-warning-border-color);
    border-radius: 16px;

    font-size: 14px;
    line-height: 19px;
    color: var(--adjust-trove-no-asset-warning-text-color);
}

.inputWrap {
    width: 100%;

    margin-top: 20px;

    border: 1px solid var(--adjust-trove-input-wrap-border-color);
    border-radius: 16px;
}

.input {
    width: 100%;
    height: 52px;

    border-radius: 16px;
    border: none !important;
    box-shadow: none !important;
    background-color: var(--adjust-trove-input-bg-color);

    &:focus,
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }

    :global {
        div.ant-input-number-input-wrap {
            border: none;
            box-shadow: none;
        }

        input.ant-input-number-input {
            height: 52px;
    
            font-size: 23px;
            font-style: normal;
            font-weight: 450;
            font-family: CircularStd;
            color: var(--adjust-trove-input-text-color);
        }
    }
}

.inputBefore,
.inputAfter {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--adjust-trove-input-before-color);

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    span {
        margin-left: 10px;
        display: inline-block;
    }
}

.help {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.helpContainer {
    display: flex;
    align-items: center;
}

.balance,
.price {
    font-weight: 450;
    font-size: 12px;
    line-height: 133%;
    color: var(--open-trove-input-balance-text-color);
    text-indent: 16px;

    span {
        color: var(--open-trove-input-balance-amount-color);
    }
}

.price {
    text-indent: 30px;
}

.max {
    margin-right: 20px;
    font-size: 12px;
    cursor: pointer;
    color: var(--adjust-trove-balance-max-text-color);

    &.disableMax {
        color: var(--disable-btn-text-color);
        cursor: not-allowed;
    }
}

.collRatioInfo {
    width: 100%;
    margin-top: 23px;

    display: flex;
    flex-direction: column;
}

.collRatioInfoTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
        display: flex;
        align-items: center;

        color: var(--adjust-trove-collRatio-div-text-color);
        font-size: 12px;
        line-height: 133%;

        & > div {
            margin-left: 6px;
            display: flex;
            align-items: center;
        }
    }

    & > p {
        color: var(--coll-ratio-value-base-color);

        &.emergencyCR {
            color: var(--coll-ratio-value-emergency-color)
        }

        &.warningCR {
            color: var(--coll-ratio-value-warning-color);
        }

        &.healthCR {
            color: var(--coll-ratio-value-health-color);
        }
    }
}

.fastChooseWrap {
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.step {
    width: calc(25% - 3px);
    height: 6px;
    margin-right: 4px;
    background: var(--fast-choose-step-basic-bg-color);
    border-radius: 22px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        background: linear-gradient(26deg, var(--fast-choose-step-bg-from-color) 11.36%, var(--fast-choose-step-bg-to-color) 82.43%)
    }
}

.dot {
    position: absolute;
}

.tips {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
    line-height: 133%;
    color: var(--adjust-trove-mint-number-tips-color);
}

.btnArea {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 294px;
    height: 52px;

    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 16px;
    border-radius: 10px;
    color: var(--adjust-trove-btn-text-color);
    background: linear-gradient(26deg, var(--linear-gradient-btn-from-color) 11.36%, var(--linear-gradient-btn-to-color) 82.43%);
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &.disable {
        border: 1px solid var(--disable-btn-border-color);
        color: var(--disable-btn-text-color);
        background: var(--disable-btn-bg-color);
        cursor: not-allowed;
    }

    &.notReady {
        width: 100%;
    }

    &.cancel {
        width: 160px;
        margin-right: 20px;
        flex: 0 0 auto;
        color: var(--cancel-btn-text-color);
        border: 1px solid var(--cancel-btn-border-color);
        background: var(--cancel-btn-bg-color);
    }

    &.loading {
        opacity: .7;

        & > span {
            margin-right: 5px;
        }
    }

    &:hover {
        opacity: .7;
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        width: 100%;
    }

    .btn {
        width: 454px;
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        width: 100%;
        padding: 0;
        border: none;
        background: transparent;
    }

    .title {
        font-size: 25px;
    }

    .btn {
        width: 220px;
        font-size: 14px;

        &.cancel {
            width: 120px;
            margin-right: 10px;
        }
    }
}
